<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="platform:/resource/BDDCTransform/model/TransformModel.ecore"
            class="TransformModel.TransformModelPackage"
            genModel="model/TransformModel.genmodel"/>
   </extension>

</plugin>
