<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="BDDModel.presentation.BDDModelModelWizardID"
            name="%_UI_BDDModelModelWizard_label"
            class="BDDModel.presentation.BDDModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BDDModelModelFile.gif">
         <description>%_UI_BDDModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="BDDModel.presentation.BDDModelEditorID"
            name="%_UI_BDDModelEditor_label"
            icon="icons/full/obj16/BDDModelModelFile.gif"
            extensions="bddmodel"
            class="BDDModel.presentation.BDDModelEditor"
            contributorClass="BDDModel.presentation.BDDModelActionBarContributor">
      </editor>
   </extension>

</plugin>
